/* Side bar css start from here */
body.nimbus-is-editor {
    background-image: url(../images/bg-3.jpg);
    background-size: cover;
}
.about-me .github-follow-section a img.git-logo {
    width: 23px;
    vertical-align: bottom;
    background: #fff;
    border-radius: 50%;
    padding: 1px;
    margin-right: 5px;
}
body .outer-container .container.single-page { 
    background: #fff;
}
body .outer-container .container.single-page .sidebar {
    margin-top: 0px !important;
}
body .outer-container .container.single-page .sidebar .recent-post-wrap {
    margin-top: 0px;
}
body .outer-container .container.single-page .content-wrap {
    margin-top: 0px !important;
}
body.nimbus-is-editor .container.single-page .col-12.col-lg-4 {
    border: 1px solid #87878742;
    padding: 25px;
    background: #fff;
}
body.nimbus-is-editor .container.single-page .col-12.col-lg-8 {
    padding: unset;
}
body .outer-container .container.single-page .expertise-section {
    border: 1px solid #87878742;
    padding: 15px;
}
body .outer-container .container.single-page .sidebar .about-me h3.profile-name {
    font-size: 35px;
    color: #000;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 0;
    text-transform: uppercase;
}
body .outer-container .container.single-page .sidebar .github-follow-section a {
    background: #000000d9;
    color: #fff;
    font-family: sans-serif;
    padding: 8px 6px;
    font-size: 15px;
    border-radius: 4px;
    font-weight: 100 !important;
}
body .outer-container .container.single-page .sidebar .about-me p.designation {
    margin: unset;
    font-size: 18px;
    color: #000;
    text-transform: uppercase;
    padding-bottom: 10px;
}
body .outer-container .container.single-page .sidebar .about-me {
    text-align: left;
}
body .outer-container .container.single-page .sidebar .about-me p.about {
    color: #000;
    font-family: sans-serif;
    line-height: 21px;
    padding-bottom: 25px;
    text-align: left;
}
body .outer-container .container.single-page .sidebar .github-follow-section {
    margin-top: 10px;
    margin-bottom: 30px;
}
body .outer-container .container.single-page .sidebar .address-and-contact-section ul.address-links {
    padding: 0;
    margin-top: 22px;
}
body .outer-container .container.single-page .sidebar .address-and-contact-section ul.address-links li {
    list-style-type: none;
}
body .outer-container .container.single-page .sidebar .address-and-contact-section ul.address-links li a {
    color: #ff5200d6;
    font-size: 14px;
    padding-left: 5px;
    text-decoration: none;
}
body .outer-container .container.single-page .sidebar .address-and-contact-section ul.address-links li i.fa {
    line-height: 35px;
}
body .outer-container .container.single-page .sidebar .address-and-contact-section ul.address-links li i.fa.fa-map-marker,
body .outer-container .container.single-page .sidebar .address-and-contact-section ul.address-links li i.fa.fa-mobile {
    font-size: 18px;
}
body .outer-container .container.single-page .sidebar .address-and-contact-section ul.address-links li i.fa.fa-envelope {
    font-size: 12px;
}
body .outer-container .container.single-page .sidebar .social-media-section .social-section ul.links {
    padding: 0;
    text-align: left;
    margin: auto;
}
body .outer-container .container.single-page .sidebar .social-media-section .social-section ul.links li {
    list-style-type: none;
    display: -webkit-inline-box;
    padding: 3px 10px;
    margin: 5px;
    background: #ff5200d6;
    border: 1px solid #ff5200d6;
}
body .outer-container .container.single-page .sidebar .social-media-section .social-section ul.links li a {
    color: #fff;
}
body .outer-container .container.single-page .sidebar .social-media-section .social-section ul.links li:first-of-type {
    margin-left: 0;
}
body .outer-container .container.single-page .sidebar .address-and-contact-section ul.address-links li a.instagram-link {
    padding: unset;
}
body .outer-container .container.single-page .sidebar .address-and-contact-section ul.address-links li a.instagram-link img.instagram-image-link {
    width: 100%;
    margin-top: 20px;
    margin-left: -10px;
}
body .outer-container .container.single-page .sidebar .magento-free-extention-section {
    margin-top: 30px;
}
body .outer-container .container.single-page .sidebar .magento-free-extention-section a {
    background: navy;
    color: #fff;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 300;
    padding: 10px 35px;
    margin-top: 30px !important;
    text-decoration: unset;
}
body .outer-container .container.single-page .sidebar .magento-free-extention-section a img.magento-logo {
    width: 16px;
}
@media only screen and (max-width: 600px) {
    body .outer-container .container.single-page {
        padding-top: 20px;
    }
}
.instgram-details-section img.img-responsive.profile-image {
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    float: left;
}
body .outer-container .container.single-page .expertise-section .instagram-image-section .instgram-details-section {
    border: 1px solid #80808012;
    padding-left: 10px;
    padding-top: 10px;
    background: #80808012;
}
body .outer-container .container.single-page .expertise-section .instagram-image-section .instgram-details-section .caption-section {
    display: inline-block;
}
.instgram-details-section a.instagram-user-name {
    padding-left: 10px;
    display: inline-block;
    float: left;
    color: #000;
    font-size: 15px;
    line-height: 24px;
    text-decoration: none;
}
.instgram-details-section .created-at-date p {
    padding-left: 10px;
    display: inline;
}
.instgram-details-section .caption-section .text p {
    padding-top: 5px;
    font-size: 13px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    float: left;
}
.instagram-image-section .col-lg-6.col-md-6.col-sm-12.col-xm-12 {
    padding: 10px;
}
.instagram-image-section .instgram-details-section .created-at-date {
    font-size: 12px;
    font-family: sans-serif;
}
.instagram-image-section .instgram-details-section .post-location-at p {
    margin-bottom: unset;
    display: inline-block;
    padding-left: 5px;
    font-size: 14px;
}
body .outer-container .container.single-page .expertise-section h2.entry-title.follow-on-instagram a {
    color: #1b1bdb;
}
/* Main content css start from here */
body .outer-container .container.single-page .expertise-section header.entry-header h2.entry-title,
body .outer-container .container.single-page .skilld-section h2.entry-title {
    font-size: 22px;
    color: #000;
    text-align: left;
    margin-bottom: 0;
}
body .outer-container .container.single-page .expertise-section .entry-content p {
    font-size: 14px;
    font-family: sans-serif;
    margin: 10px 0;
    font-weight: 100;
}

body .outer-container .container.single-page .entry-content.contact p {
    margin: unset;
}
body .outer-container .container.single-page .sidebar .about-me p.designation img {
    width: 25px;
}
body .outer-container .container.single-page .sidebar .about-me p.about-skill- img {
    width: 25px;
}
body .outer-container .container.single-page .sidebar .about-me p.about-skill- {
    margin-top: 0px;
    color: #000;
    text-transform: uppercase;
    line-height: 22px;
}
.instagram-image-section .instagram-image img.img-responsive {
    width: 100%;
}
body .outer-container .container.single-page .expertise-section .instagram-image-section .instagram-image .instgram-details-section {
    margin-top: -45px;
    text-align: center;
}
body .outer-container .container.single-page .expertise-section .instagram-image-section .instagram-image {
    /* border: 1px solid #87878736;
    padding: 15px;
    margin: 11px 0px; */
}
body .outer-container .container.single-page .expertise-section .instagram-image-section .instagram-image .instgram-details-section img.img-responsive.profile-image {
    width: 75px;
    border-radius: 0%;
    text-align: center;
    margin: auto;
    display: block;
    border: 5px solid #fff;
    position: relative;
}